.rContainer {
  display: flex;
  gap: 20px;
}
.rItem {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle {
  font-weight: 500;
}

.rDesc {
  font-weight: 300;
}

.rMax {
  font-size: 12px;
}

.rPrice {
  font-weight: 500;
}

.rSelectRooms {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 8px;
  color: gray;
}

.room {
  display: flex;
  flex-direction: column;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}
.rSelect {
  width: 250px;
  padding: 10px;
  margin-right: 100px;
  background-color: rgb(234, 233, 233);
}
